h1 {
    color: red;
    padding: 1em 1em;
}

body, html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.container {
    width: 100%;
    height: 100;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #111;
    background-image: linear-gradient( rgba(255, 255, 255, 0.103), rgb(0, 0, 0));
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

h2{
    color: red;
}

#main {
    transition: margin .5s;
    padding: 16px;
    background-image: url("Sword-Coast-Map_HighRes.jpg");
  height: 100%; 
    overflow: visible;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.nav-content {
    padding: 1em 1em
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
    
.radio-button-left-container {
    border-radius: 10em;

    position: relative;
    top: 170px;
    left: 435px;
    background-color: #111111ab;
    max-width: 8em;
    padding: 1em;
}
.radio-button-right-container {
    border-radius: 10em;

    position: relative;
    top: 420px;
    left: 550px;
    background-color: #111111ab;
    max-width: 8em;
    padding: 1em;

}

.tooltip {
    position: relative;
    display: inline-block;
    padding: .5em;
    border-radius: 10em;
    top:150px;
    left: 950px;
    border-bottom: 1px dotted black;
    background-color: #444;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.767);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -140px;
    
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .title {
    background-color: rgba(0, 0, 0, 0.315);
    color: red;
    max-width: 170px; 
    padding: 10px;
  }