<!-- navbar.component.html -->
<nav class="navbar">
  <div class="logo">
    <img
      src="assets/Logo_curved_white.png"
      alt="Reviclades logo"
      height="40px"
    />
    <span class="logo-name">Reviclades</span>
  </div>
  <ul>
    <li>
      <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/world-map"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >World Map</a
      >
    </li>
  </ul>
</nav>
<nav></nav>
