@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@1;200;500&display=swap');
/* styles.css */

:root {
  --revi-wheat-30: #FDE5C0;
  --revi-wheat-100: #F7A82D;
  --revicla-blue-100: #212C3B;
  --revicla-blue-90: #37414F;

  --revi-logo-6: #9AFFFF;
  --revi-logo-5: #476C7C;
  --revi-logo-4: #365E67;
  --revi-logo-3: #364B5C;
  --revi-logo-2: #233647;
  --revi-logo-1: #182633;

  --revi-text: #EBE6DC;
  --revi-hover: #ebc374;
  --revi-dark: #14191E;

  --revi-l-ground: #A76638;
  --revi-l-brown: #A65216;
  --revi-brown: #593115;
  --revi-light: #37D7E5;
  --revi-aqua-blue: #04666F;
}

* {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}

.revi-dark-background {
  background-color: var(--revi-dark) !important;
}

.revi-wheat-background {
  background-color: var(--revi-wheat-100)
}